body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.level-1 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #DFE0E1;

    font-family: 'Roboto', sans-serif;
}

.level-1 ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.level-1__link a,
.level-1__contact a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: 32px;
}

.level-1__contacts>li:nth-child(2) a {
    margin: 0;
}

.level-1__link img,
.level-1__contact img {
    margin-right: 7px;
}

.help-icon {
    /* margin-right: 0; */
    margin-left: 7px;
}

.level-1__link p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(28, 41, 77, 0.8);
}

.level-1__contact p {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: rgba(28, 41, 77, 0.8);
}

.level-1 p:hover {
    color: #FF7A00;
}

.level-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
}

.level-2 div {
    display: flex;
    align-items: center;
    width: 100%;
}

.level-2__links {
    display: flex;
    list-style: none;
    margin: 0;
}

.level-2__link a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: 32px;
}

.level-2__link p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(28, 41, 77, 0.8);
}

.level-2__link p:hover {
    color: #FF7A00;
}

.level-2__link img {
    margin-right: 7px;
}

.form__search {
    margin-left: 30px;
    width: 100%;
    max-width: 573px;
    border-radius: 5px;
}

.form__search input {
    width: 70%;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.form__search button {
    width: 25%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #FF7A00;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.level-3 {
    display: flex;
    
}

.level-3__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.level-3__menu-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: 25px;
}

.level-3__menu-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
        
    color: #1C294D;
}

.level-3__menu-item p:hover{
    color: #FF7A00;
}

.sales p {
    color: #FF283D;
}

.level-3__menu-item img{
    margin-right: 7px;
}

.slider-block{
    display: flex;
    justify-content: space-between;
}

.sub-slider__pictures,
.sub-slider__pictures div{
    display: flex;
    justify-content: space-between;
}

.sub-slider__pictures{
    margin-top: 25px;
}

.sub-slider__pictures div{
    width: 43%;
    align-items: center;
    padding: 15px;
    border-radius: 5px;

    font-family: 'Roboto';
    font-size: 20px;
}

.sub-slider__pictures>div:first-child{
    background-color: #6D378F;
    color: white;
}

.sub-slider__pictures>div:last-child{
    background-color: #FFD8EF;
    color: rgba(28, 41, 77, 0.8);
}


.wrapper img{
    width: 100%;
}

.wrapper div{
    width: 750px;
    height: 350px;
    font-size: 70px;
    text-align: center;
    color: white;

    background-color: #1C294D;
}

.slick-arrow.slick-prev {
    left: 25px;
    z-index: 1;
    border-radius: 0;
  }

  .slick-arrow.slick-next {
    right: 25px;
    z-index: 1;
    
  }

.slick-dots{
    top: 320px;
}

.book-of-day{
    width: 360px;
    height: 520px;
    background-color: #1C294D;
}